{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-4">
    <h3>{{dump(form.vars.data.id) is null?'Add a Note':'Modify a Note'}}</h3>
        {{form_start(form)}}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.detail) }}
                {{ form_widget(form.detail, {'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.createdAt) }}
                {{ form_widget(form.createdAt, {'attr':{'class':'form-control'}}) }}
            </div>
            <button type='submit' class='btn btn-primary mt-2'>
                {{form.vars.data.id is null?'Save Note':'Modifie post'}}
            </button>
        {{form_end(form)}}
    </div>
{% endblock %}